<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:label="0_Puppet"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.canvoki.test.ACTION_TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="puppet" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrivateActivity"
            android:label="Private">
        </activity>
        <activity
            android:name=".UnfilteredActivity"
            android:label="Unfiltered"
            android:exported="true">
        </activity>

        <receiver
            android:name=".PuppetReceiver"
            android:label="Puppet Receiver"
            android:icon="@android:drawable/ic_menu_share"
            android:exported="true">
            <intent-filter>
                <action android:name="net.canvoki.test.ACTION_TEST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".PuppetForegroundService"
            android:label="Puppet Foreground Service"
            android:foregroundServiceType="dataSync"
            android:icon="@android:drawable/ic_menu_manage"
            android:exported="true">
            <intent-filter>
                <action android:name="net.canvoki.test.ACTION_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".PuppetBackgroundService"
            android:label="Puppet Background Service"
            android:icon="@android:drawable/ic_menu_gallery"
            android:exported="true">
            <intent-filter>
                <action android:name="net.canvoki.test.ACTION_BACKGROUND_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
